* text=auto

*.c text eol=lf
*.cc text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.md text eol=lf
*.json text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
*.ps1 text eol=lf
*.rc text eol=lf
*.manifest text eol=lf

*.ico binary
*.png binary
